html{
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e3e3e3;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFF;
}

header{
	width: 100%;
	height: 48px;
	line-height: 48px;
	background-color: #424242;
	color:#FFF;
	margin: 0;
	padding: 0;
	text-align: center;
}

.container{
	width: 100%;
	height:calc(100% - 148px);
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline-block;
}

footer{
	width: 100%;
	height: 100px;
	line-height: 100px;
	margin: 0;
	padding: 0;
	background-color:#424242;
	color:#FFF;
	text-align: center;
}

footer > p{
	margin: 0;
	padding: 0;
	text-align: inherit;
}

p{
	margin: 0;
	padding: 0;
}

.table{
	height:300px;
	display: inline-block;
	width: auto;
	overflow: auto;
}

table{
	border-width: 1px;
	border-color: green;
}

thead{
	background-color:#1565C0;
	color:#FFF;
}

tbody{
	background-color:#BBDEFB;
}

th,td{
	padding: 2px 6px 2px 6px;
	margin:0;
}

.mask{
	border-color: rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	margin:0;
	padding: 1px 3px 1px 3px;
	vertical-align: middle;
}

.input{
	height:32px;
}

.select{
	height:36px;
}

.button{
	width:60px;
	height:36px;
	background-color: #5cb85c;
	color: #FFF;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	cursor: pointer;
}

.tempo{
	width:124px;
}

.imgs{
	width: 36px;
	height: 36px;
	vertical-align: middle;
}

.paddingtop{
	padding-top: 36px;
}